<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TheGame!</title>
    <style> body {padding: 0; margin: 0; }</style>

    <script src="~/App/libs/phaser.js"></script>
    <script src="~/App/src/Preload/preloadState.js"></script>
    <script src="~/App/src/Fight/fightSate.js"></script>
    <script src="~/App/src/Menu/menuState.js"></script>
    <script src="~/App/src/City/cityState.js"></script>
    <script src="~/App/src/Shop/shopState.js"></script>
</head>

<body>
<script type="text/javascript" src="~/App/game.js"></script>
</body>
</html>